<p>Yeni bir GWT projesi yarattınız ve bu projenizi Compile etmek istediniz.</p>
<p>Eğer <strong>“java.lang.IllegalArgumentException: No enum const class com.google.gwt.dev.js.JsStackEmulator$StackMode.NATIVE”</strong> hatasıyla karşılaşırsanız, o anda kullanmakta olduğunuz bilgisayarın sistem dilinin Türkçe olarak atanmış olmasından kaynaklanmaktadır.</p>
<p>Bu sorunu çözmek için, isterseniz sisteminizin dilini Denetim Masasından değiştirebilirsiniz. Yada, daha kısa bir yöntem olarak, aşağıda gösterildiği gibi GWT Compile penceresinde bulunan “-Advanced” sekmesini açınız.</p>

<img alt="Custom Select" src="/img/static/posts/gwt_compile_prob.jpg">

<p>VM Arguments içerisine “-Duser.language=en” parametresini kopyalayınız ve compile işlemini gerçekleştiriniz.</p>