<p>Yeni bir GWT uygulaması yarattınız ve bu uygulamanızı çalıştırmak istediniz. Projenizi sağ tıkladınız ve “Run As-&gt; Web Application” seçeneğini seçtiniz.</p>
<p>Eğer <strong>“Couldnt find any host pages in project”</strong> uyarı ekranıyla karşılaşırsanız çözüm yolu şu şekildedir;</p>

<ul>
    <li>1. DynamicWebProject projesini sag tıklayınız, “Properties-&gt;Google-&gt;Web Application” sekmesinden “This project has a WAR directory” seçeneğini işaretleyiniz.</li>
    <li>2. Aynı sekmede yer alan, “War Directory”‘inizi seçmek için Browse butonunu kullanınız ve projenizin WebContent’ini gösteriniz.</li>
    <li>3. “Launch and deploy from this directory” seçeneğini işaretleyiniz.</li>
</ul>

<p>Ekranın son görünümünün aşağıdaki gibi olması gerekmektedir.</p>

<img alt="Custom Select" src="/img/static/posts/gwt_couldntfindhost.jpg">