<p>GWT ile web uygulaması geliştirirken, muhtemelen kullanılacak olan komutlardan bir tanesi de, üzerinde çalışılan sayfanın belli bir anda yenilenmek istenmesidir.</p>
<p>Bunun için GWT’de kullanılan kod şu şekildedir;</p>

<code>
    <pre class="language-javascript" prism>
        Window.Location.reload()
    </pre>
</code>

<p>Bu kod parçası, herhangi bir Module sınıfının onModuleLoad metodunda kullanılabilecegi gibi, her bir sayfayı temsil edecek olan UiBinder sınıfları içerisinde de kullanılabilir.</p>