<p>Highcharts API doesnt provide a legend operation like SELECT/DESELECT ALL series, thus you must implement your own click event handler.</p>
<p>It means that you should traverse all series elements and change their visibility respectively.</p>
<p>There are some methods to change visibility of a series. These are <strong>hide()</strong>, <strong>show()</strong>, and <strong>setVisible(Boolean visible, [Boolean redraw])</strong>.</p>
<p>While traversing, if you use <strong>hide()/show()</strong> methods for each series, these methods will cause to redraw the graphic for each series. So, the performance is extremely reduced when using these methods.</p>
<p>However, if you use <strong>setVisible(Boolean visible, [Boolean redraw])</strong> method with false value of redraw, it will not redraw the graphic for each iteration and your performance will increase in a visible way.</p>

<p>So, the event handler of SELECT/DESELECT ALL legend click should be implemented as follows;</p>


<code>
    <pre class="language-javascript" prism>
        events: {
            legendItemClick: function (event) {
                var seriesIndex = this.index;
                var visibility = this.visible;
                var allSeries = this.chart.series;
                if (this.name == 'DESELECT/SELECT ALL') {
                    for (var i = 0; i &lt; allSeries.length; i++) {
                        var currentSeries = allSeries[i];
                        if (currentSeries.index != seriesIndex) {
                            if (this.visible) {
                                if (currentSeries.visible) {
                                    currentSeries.setVisible(false, false);
                                }
                            } else {
                                if (!currentSeries.visible) {
                                    currentSeries.setVisible(true, false);
                                }
                            }
                        }
                    }
                    this.chart.redraw();
                }
            }
        }
    </pre>
</code>
