<p>The shortcuts will be listed below which personally need to use at most while using Eclipse.

<p><strong>CTRL+Page Up and CTRL+Page Down:</strong><br />
By using these shortcuts,  you can access JAVA classes which are already opened as tabs in Eclipse.</p>

<p><strong>F3</strong><br />
Accesses the declaration of the method where cursor is.</p>

<p><strong>CTRL + Left Click</strong><br />
Accesses the declaration of the method where user clicks.</p>

<p><strong>CTRL + Shift + G</strong><br />
Shows all callers of the method where cursor is.</p>

<p><strong>CTRL + Shift + F</strong><br />
Formats JAVA classes in a fast way and regulates the code to be read easily.</p>

<p><strong>CTRL + Shift + T</strong><br />
Searchs for a Type in all workspace.</p>

<p><strong>CTRL + Shift + R</strong><br />
Searchs for a Resource in all workspace. The difference between Resource and Type can be explained this way. When we refer Resource , it means JAVA classes which are included in workspace and written by users. However Type doesnt only show classes written by users, but also includes the JAVA classes which are contained in JDK  such as java.lang.String class.

<p><strong>CTRL + ALT + Up Arrow      or      CTRL + ALT + Down Arrow</strong><br />
The all line which the cursor is on is copied to upper line or lower line</p>

<p><strong>Alt + Shift + T</strong><br />
Opens the Refactor panel.</p>

<p><strong>Alt + Up Arrow     or      Alt + Down Arrow</strong><br />
When getting around JAVA classes and methods, it accesses the previous or next method which were on our path.</p>

<p><strong>CTRL + 1</strong><br />
Gives some advices about the problem related to the line which the cursor is on.</p>

<p><strong>CTRL + Space</strong><br />
Auto-complete shortcut. It gives some suggestions about what you can write after the current cursor.For instance; if you use this shortcut after an instance's name, it shows all public methods and attribute.</p>