<p>If your set is not TreeSet implementation, you have the following options to sort your set collection.</p>
<p>For example, suppose that you have a HashSet collection as shown below;</p>

<code>
    <pre class="language-javascript" prism>
        Set hashSet = new HashSet();
        hashSet.add("murat");
        hashSet.add("ayse");
        hashSet.add("oguz");
    </pre>
</code>

<p>You can one of these methods to sort your set collection;</p>

<p>1. One method is to create a new TreeSet whose constructor has any collection type.</p>

<code>
    <pre class="language-javascript" prism>
        TreeSet treeSet = new TreeSet(hashSet);
        for (final String element : treeSet) {
            System.out.println(element);
        }
    </pre>
</code>

<p>2. Another option is to create a new ArrayList whose constructor has any collection type and sort this List via Collections.sort(List) method.</p>

<code>
    <pre class="language-javascript" prism>
        List list = new ArrayList(hashSet);
        Collections.sort(list);

        for (final String element : list) {
            System.out.println(element);
        }
    </pre>
</code>

<p>3. Other option is to convert this set into array through the use of toArray method and sort this array via Arrays.sort(Object[]) method.</p>
    <code>
    <pre class="language-javascript" prism>
        Object[] array = hashSet.toArray();
        Arrays.sort(array);

        for (final Object element : array) {
            System.out.println(element);
        }
    </pre>
</code>

<p>All these options shown above will have the same output.</p>