<strong>Both interfaces</strong> provide traverse the collection and fetch objects from it.
<strong>But</strong>, there are 2 differences between Iterator and Enumeration interface.
<strong>1.</strong> <strong>Iterator</strong> has remove() method which can delete the current node while traversing the collection.

<pre>
    <code class="language-javascript" prism>
    public interface Iterator {
       public boolean hasNext();
       public Object next();
       public void remove();
    }
    </code>
</pre>

<pre class="lang:java decode:true" title="Iterator Interface">public interface Iterator {
       public boolean hasNext();
       public Object next();
       public void remove();
}</pre>
<strong>Enumeration</strong> interface doesnt have this method. Enumeration acts as Read-Only interface.
<pre class="lang:default decode:true" title="Enumeration Interface">public interface Enumeration {
       public boolean hasMoreElements();
       public Object nextElement();
}</pre>
&nbsp;

&nbsp;

&nbsp;

<strong>2.</strong> <strong>Iterator</strong> is more secure and safe compared with Enumeration interface. Iterator doesnt allow multiple threads modify the collection at the same time. Therefore, ConcurrentModificationException is not thrown while traversing the collection through the use of Iterator interface.
Whereas <strong>Enumeration</strong> interface cannot provide this feature. Enumeration is not thread-safe interface.

&nbsp;