<ol>
	<li>Visit the APIs Console at <a href="https://code.google.com/apis/console">https://code.google.com/apis/console</a> and log in with your Google Account.</li>
	<li>Click the <b>Services</b> link from the left-hand menu.</li>
	<li>Activate the service which you want to use.</li>
	<li>Click the <b>API Access</b> link from the left-hand menu. Your API key is available from the <b>API Access</b> page, in the <b>Simple API Access</b> section.</li>
	<li>Keep this API key. You will use this API key to use any Google API in your applications.</li>
</ol>