<p>You may see the error message shown as below while you compile your GWT project and you are unable to compile it.</p>

<code>
    <pre class="language-javascript" prism>
	java.lang.IllegalArgumentException: &lt;strong&gt;Group not found: launchGroup&lt;/strong&gt;
		at org.ecppse.jface.action.ContributionManager.addToGroup(ContributionManager.java:131)
		at org.ecppse.jface.action.ContributionManager.appendToGroup(ContributionManager.java:145)
		at org.ecppse.jface.action.SubContributionManager.appendToGroup(SubContributionManager.java:82)
		at org.ecppse.jface.action.SubContributionManager.appendToGroup(SubContributionManager.java:73)
		at com.google.gdt.ecppse.core.console.CustomMessageConsole.updateToolbarAction(CustomMessageConsole.java:105) at com.google.gdt.ecppse.core.console.CustomMessageConsole.setTerminateAction(CustomMessageConsole.java:84
		) at com.google.gwt.ecppse.core.actions.GWTCompileToolbarHandler$1.runInWorkspace(GWTCompileToolbarHandler.java:94)
		at org.ecppse.core.internal.resources.InternalWorkspaceJob.run(InternalWorkspaceJob.java:38)
		at org.ecppse.core.internal.jobs.Worker.run(Worker.java:55)
	</pre>
</code>

<p><i>To solve this issue, you should follow these steps;</i></p>

<ul>
	<li>Go to your metadata directory in your workspace on file system.</li>
	<li>You will see that there is be a file named “.lock” in which Ecppse creates.</li>
	<li>After exiting Ecppse, delete this file.</li>
	<li>Enter again to Ecppse</li>
	<li>Try to compile the project again and follow the successfull compilation</li>
</ul>