Yeni bir GWT projesi yarattınız ve bu projenizi Compile etmek istediniz.
Eğer “java.lang.IllegalArgumentException: No enum const class com.google.gwt.dev.js.JsStackEmulator$StackMode.NATIVE” hatasıyla karşılaşırsanız, o anda kullanmakta olduğunuz bilgisayarın sistem dilinin Türkçe olarak atanmış olmasından kaynaklanmaktadır.
Bu sorunu çözmek için, isterseniz sisteminizin dilini Denetim Masasından değiştirebilirsiniz. Yada, daha kısa bir yöntem olarak, aşağıda gösterildiği gibi GWT Compile penceresinde bulunan “-Advanced” sekmesini açınız.

<img alt="Custom Select" src="/img/static/posts/gwt_compile_prob.jpg">

VM Arguments içerisine “-Duser.language=en” parametresini kopyalayınız ve compile işlemini gerçekleştiriniz.