<ng-head ng-title="Murat Öztürk Blog"></ng-head>
<ng-head ng-content="Grabs kurucu ve geliştiricisi, açık kaynak destekçisi, bir sahibinden.com çalışanı, orta seviye barista, kitap, doküman ve blog yazarı."></ng-head>

<header>
    <div>
        <p>
            <a href="/">Murat Öztürk</a>
        </p>
    </div>

    <h1>Yazılım dünyasından makaleler...</h1>

    <img src="/img/static/workspace.png" alt="" />
</header>
<!-- Header -->

<main class="summary">
    <article>
        <h2>
            <a href="/iterator-enumeration">
                Difference Between Iterator and Enumeration in JAVA
            </a>
        </h2>
        <p>Birçok C tabanlı dilde değişkenler bildirildikleri (declare edildikleri) yerde oluşurlar fakat JavaScript'te durum böyle değildir. Değişkeni nerede ve nasıl yazdığınıza göre değişkeninizin oluştuğu yer belli olur. ECMAScript 6 ile artık değişkenlerin scope'unu (kapsamını) kontrol edebiliyoruz yani bildirildiği yerde oluşmasını sağlayabiliyoruz ama öncelikle hoisting konusuna değinmemiz....</p>
        <a href="/iterator-enumeration">DAHA FAZLA</a>
        <span>29 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-package-mapping">
                Wsimport Namespace Package Mapping
            </a>
        </h2>
        <p>ECMAScript 6 ile birlikte objelere (Object) ve dizilere (Array) Destructuring (Parçalama / Yıkım / Yapıbozum) özelliği geldi. Destructuring, veri yapısını küçük parçalara ayırma işlemidir. Genellikle objeleri ve dizileri tanımladıktan sonra işimize yarayan parçaları içlerinden çekip alırız ve kullanırız. ECMAScript 6 öncesinde bu işi nasıl yaptığımızı görelim...</p>
        <a href="/wsimport-package-mapping">DAHA FAZLA</a>
        <span>22 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-two-declarations">
                Two declarations cause a collision in the ObjectFactory solution
            </a>
        </h2>
        <p>Yıllardır farklı kişilerle farklı ortamlarda "Native Select mi yoksa Custom Select mi?" tartışmaları bıkmadan usanmadan tekrar tekrar yapıldı ve yapılmaya devam ediyor. Bir sürü Front-End'çi ile tasarımcının arası bu tartışmalar sebebiyle açıldı. Kimi İyi'yi, kimi Kötü'yü kimi de Çirkin'i savundu. Artık bu tartışmalar...</p>
        <a href="/wsimport-two-declarations">DAHA FAZLA</a>
        <span>29 Ocak 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-underscore-configuration">
                Wsimport Underscore Configuration with JAXB
            </a>
        </h2>
        <p>SAFE’in (sahibinden.com geliştirme ortamının) ilk versiyonunu Ağustos 2013’te hazırlanmaya başlamıştık. O sıralarda dosyaların sayısı, dosya boyutları ve Grunt task’larımızın sayısı bugüne göre çok daha azdı. Dolayısıyla Grunt task’larımız çok kısa sürelerde tamamlanıyordu ve iyileştirme yapmak gibi bir ihtiyaç hissedilmemişti...</p>
        <a href="/wsimport-underscore-configuration">DAHA FAZLA</a>
        <span>27 Ağustos 2015</span>
    </article>
    <article>
        <h2>
            <a href="/sort-set-collection">
                How to Sort a Set Collection in JAVA ?
            </a>
        </h2>
        <p>AngularJS kullanılan bir projenin derlenmiş HTML kodlarını incelediğinizde hata ayıklama (debug) için eklenmiş bilgileri görürsünüz. Bu bilgiler elemanlara class olarak eklenir. Mesela normalde kodunuz aşağıdaki gibiyken...</p>
        <a href="/sort-set-collection">DAHA FAZLA</a>
        <span>3O Mart 2015</span>
    </article>
    <article>
        <h2>
            <a href="/most-used-eclipse-shortcuts">
                Most Used Eclipse Shortcuts
            </a>
        </h2>
        <p>The shortcuts will be listed below which personally need to use at most while using Eclipse...</p>
        <a href="/most-used-eclipse-shortcuts">DAHA FAZLA</a>
        <span>26 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/highcharts-select-deselect">
                How to SELECT/DESELECT via Highcharts with Best Performance ?
            </a>
        </h2>
        <p>Highcharts API doesnt provide a legend operation like SELECT/DESELECT ALL series, thus you must implement your own click event handler...</p>
        <a href="/highcharts-select-deselect">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-reload-page">
                How to Reload Page in GWT ?
            </a>
        </h2>
        <p>Bu yazıda HTML, CSS ve JavaScript ile hazırlanmış web sitesini hosting/barındırma ücreti ödemeden Github aracılığıyla ve kendi domaininiz/alan adınız üzerinden nasıl yayınlayabileceğinizi anlatmaya çalışacağım....</p>
        <a href="/gwt-reload-page">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-no-enum-const">
                java.lang.IllegalArgumentException: No enum const class solution in GWT
            </a>
        </h2>
        <p>Yazılım geliştiricilerin sürekli yapması gereken ve kendini tekrar eden bazı sıkıcı görevleri vardır. Bu bazen dosya sıkıştırmak, bazen de kod derlemek olabiliyor ve geliştiriciler bunları her seferinde tekrar tekrar yaparak gereksiz bir zaman kaybı yaşıyor...</p>
        <a href="/gwt-no-enum-const">DAHA FAZLA</a>
        <span>3 Temmuz 2014</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-couldnt-find-any-host-pages">
                Couldnt find host pages solution in GWT
            </a>
        </h2>
        <p>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>
        <a href="/gwt-couldnt-find-any-host-pages">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-compile-problem">
                GWT Compile Problem & Solution
            </a>
        </h2>
        <p>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>
        <a href="/gwt-compile-problem">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/api-access-for-google-api">
                How to Get API Access with Google API ?
            </a>
        </h2>
        <p>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>
        <a href="/api-access-for-google-api">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/crud-for-other-schemas-entity-framework">
                CRUD for Other Schemas other than Default Scheman in .NET Entity Framework
            </a>
        </h2>
        <p>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>
        <a href="/crud-for-other-schemas-entity-framework">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
</main>
<!-- Blog Summary -->
