<ng-head ng-title="Murat Öztürk Blog"></ng-head>
<ng-head ng-content="Yazılım mühendisi, sahibinden.com çalışanı, yüzücü, seyahat meraklısı"></ng-head>

<header>
    <div>
        <p>
            <a href="/">Murat Öztürk</a>
        </p>
    </div>

    <h1>Yazılım dünyasından makaleler...</h1>

    <img src="/img/static/workspace.png" alt="" />
</header>
<!-- Header -->

<main class="summary">
    <article>
        <h2>
            <a href="/iterator-enumeration">
                Difference Between Iterator and Enumeration in JAVA
            </a>
        </h2>
        <p>
            <strong>Both interfaces</strong> provide traverse the collection and fetch objects from it.<strong>But</strong>, there are 2 differences between Iterator and Enumeration interface...
        </p>
        <a href="/iterator-enumeration">DAHA FAZLA</a>
        <span>29 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-package-mapping">
                Wsimport Namespace Package Mapping
            </a>
        </h2>
        <p>Daha önceki yazılarımda da belirttiğim gibi, wsimport komutu koşulurken <strong>“-p package_name”</strong> parametresi verildiğinde tüm client kodlarını temsil eden tüm sınıflar verilen package_name adinda oluşturulan pakete atılmaktadır. <strong>“-p package_name”</strong> parametresi verilmediğinde ise, WSDL içerisindeki her bir namespace için otomatik olarak bir paket oluşturulmakta ve client kodlarını temsil eden sınıflar bu paketlere atılmaktadır...</p>
        <a href="/wsimport-package-mapping">DAHA FAZLA</a>
        <span>22 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-two-declarations">
                Two declarations cause a collision in the ObjectFactory solution
            </a>
        </h2>
        <p>Wsimport komutu koşulurken karşılaştığım bir sorunun çözümünü paylaşmak istedim. Sorun, “Two declarations cause a collision in the ObjectFactory class” hatasıdır...</p>
        <a href="/wsimport-two-declarations">DAHA FAZLA</a>
        <span>29 Ocak 2016</span>
    </article>
    <article>
        <h2>
            <a href="/wsimport-underscore-configuration">
                Wsimport Underscore Configuration with JAXB
            </a>
        </h2>
        <p>“Two declarations cause a collision in the ObjectFactory class” hatasının neden kaynaklandığını ve çözüm yöntemlerinden bazılarını <a href="./wsimport-two-declarations.html">şu</a> yazımda paylaşmıştım...</p>
        <a href="/wsimport-underscore-configuration">DAHA FAZLA</a>
        <span>27 Ağustos 2015</span>
    </article>
    <article>
        <h2>
            <a href="/sort-set-collection">
                How to Sort a Set Collection in JAVA ?
            </a>
        </h2>
        <p>If your set is not TreeSet implementation, you have the following options to sort your set collection. For example, suppose that you have a HashSet collection as shown below...</p>
        <a href="/sort-set-collection">DAHA FAZLA</a>
        <span>3O Mart 2015</span>
    </article>
    <article>
        <h2>
            <a href="/most-used-eclipse-shortcuts">
                Most Used Eclipse Shortcuts
            </a>
        </h2>
        <p>The shortcuts will be listed below which personally need to use at most while using Eclipse...</p>
        <a href="/most-used-eclipse-shortcuts">DAHA FAZLA</a>
        <span>26 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/highcharts-select-deselect">
                How to SELECT/DESELECT via Highcharts with Best Performance ?
            </a>
        </h2>
        <p>Highcharts API doesnt provide a legend operation like SELECT/DESELECT ALL series, thus you must implement your own click event handler...</p>
        <a href="/highcharts-select-deselect">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-reload-page">
                How to Reload Page in GWT ?
            </a>
        </h2>
        <p>GWT ile web uygulaması geliştirirken, muhtemelen kullanılacak olan komutlardan bir tanesi de, üzerinde çalışılan sayfanın belli bir anda yenilenmek istenmesidir. Bunun için GWT’de kullanılan kod şu şekildedir...</p>
        <a href="/gwt-reload-page">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-no-enum-const">
                java.lang.IllegalArgumentException: No enum const class solution in GWT
            </a>
        </h2>
        <p>Yeni bir GWT projesi yarattınız ve bu projenizi Compile etmek istediniz. Eğer <strong>“java.lang.IllegalArgumentException: No enum const class com.google.gwt.dev.js.JsStackEmulator$StackMode.NATIVE”</strong> hatasıyla karşılaşırsanız...</p>
        <a href="/gwt-no-enum-const">DAHA FAZLA</a>
        <span>3 Temmuz 2014</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-couldnt-find-any-host-pages">
                Couldnt find host pages solution in GWT
            </a>
        </h2>
        <p>Yeni bir GWT uygulaması yarattınız ve bu uygulamanızı çalıştırmak istediniz. Projenizi sağ tıkladınız ve “Run As-&gt; Web Application” seçeneğini seçtiniz. Eğer <strong>“Couldnt find any host pages in project”</strong> uyarı ekranıyla karşılaşırsanız çözüm yolu şu şekildedir...</p>
        <a href="/gwt-couldnt-find-any-host-pages">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/gwt-compile-problem">
                GWT Compile Problem & Solution
            </a>
        </h2>
        <p>You may see the error message shown as below while you compile your GWT project and you are unable to compile it...</p>
        <a href="/gwt-compile-problem">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/api-access-for-google-api">
                How to Get API Access with Google API ?
            </a>
        </h2>
        <p>How to get API access for Google APIs?...</p>
        <a href="/api-access-for-google-api">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
    <article>
        <h2>
            <a href="/crud-for-other-schemas-entity-framework">
                CRUD for Other Schemas other than Default Scheman in .NET Entity Framework
            </a>
        </h2>
       <p>In .NET Entity Framework, when you create a model from Oracle database, you should give an username and password info about the database where you wish to connect. This information is stored in connection string tab in app.config file as shown below...</p>
        <a href="/crud-for-other-schemas-entity-framework">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
</main>
<!-- Blog Summary -->
