/*
*
* Homepage Styles
*
*/
.summary article {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  margin: 40px auto;
  padding-bottom: 35px;
  border-bottom: 2px dashed #e3edf3;
}
.summary article:last-child {
  border-bottom: none;
}
.summary article h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.summary article h2 a {
  color: #3c818a;
}
.summary article p {
  font-size: 20px;
  color: #848484;
  line-height: 27px;
  margin-bottom: 25px;
}
.summary article > a {
  display: inline-block;
  background: #3c818a;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
}
.summary article span {
  display: block;
  float: right;
  color: #848484;
  font-size: 16px;
  padding-left: 26px;
  margin-top: 10px;
  position: relative;
}
.summary article span:before {
  content: "\f017";
  font-family: FontAwesome;
  color: #848484;
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 0;
}
